<div class="like-link" id="like-link-<%= comic.id %>">
  <% if current_user.likes.find_by(comic_id: comic.id) %>
    <%= link_to unlike_path(comic.id), method: :delete, remote: true do %>
      いいね数<div class = "unlike_button"><i class="fas fa-thumbs-up"></i><%= comic.likes.count %></div>
      
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>

    <% end %> 
  <% else %>
    <%= link_to like_path(comic.id), method: :post, remote: true do %>
      いいね数<div class = "like_button"><i class="far fa-thumbs-up"></i><%= comic.likes.count %></div>
   
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %> 

    <% end %>
  <% end %>
</div>