<div class="content_post" >
  <div class="content_image" style="background-image: url(<%= comic.image %>);">
  </div>
  <div class="contents">
    <div class="content_title"><%= link_to "#{comic.title}","/comics/#{comic.id}", method: :get %></div>
    <% if user_signed_in? && current_user.id == comic.user_id %>
      <a>
        <%= link_to '編集', "/comics/#{comic.id}/edit", method: :get %>
      </a>
      <a>
        <%= link_to '削除', "/comics/#{comic.id}", method: :delete %>
      </a><br><br>
    <% end %>
    <p class="content_text"><%= comic.text %></p> 
    
    <% comic.tags.each do|tag| %>
      <%= link_to"・#{tag.name}",comics_path(tag_id: tag.id) %>
    <% end %><br><br>
    <div class="like_view">
      <a class="far fa-thumbs-up"></a>
      <a class="like_count"><%="いいね数#{comic.liked_users.count}" %></div>
    </a>
  </div>
      <!--<span class="name">
        <a href="/users/<%= comic.user.id %>">
          <span>投稿者</span><%= comic.user.nickname %>
        </a>
      </span> -->
    </div>
    
     