<%= form.text_field :title, placeholder: "タイトル" %>
<%= form.text_field :image, placeholder: "画像のURL" %>
<%= form.fields_for :episodes, @comic.episodes.build  do |i| %>
  <%= i.text_field :story_number, placeholder: "漫画の話数",value:@story_number %> 
  <%= i.text_field :url, placeholder: "漫画のURL",value:@url %> 
<% end %>
<%= form.text_area :text, placeholder: "紹介文" , rows: "3" %>
<%# <label for="exampleInputEmail1">タグ</label> %>
<%= form.label "タグ" %>
<%= form.text_field :name,placeholder:"複数のタグを同時に登録する時は「 , 」（カンマ）で区切ってね", value: @tag_list %>
<%= form.submit "送信" %>