

<%= form_with(url: search_comics_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @comics.each do |comic| %>
    <%= render partial: "comic", locals: { comic: comic } %>
    <% comic.tags.each do|tag| %>
      <%= link_to"#{tag.name}",comics_path(tag_id: tag.id) %>
    <% end %>  
      <%="いいね数#{comic.liked_users.count}" %><br><br>
  <% end %>
<p>いいねランキング</p>
<% @all_ranks.each.with_index(1) do |comic, i| %> 
  <%= "#{i}位#{comic.title}" %><br>
<% end %>
<%= paginate(@comics) %>
</div>