<!DOCTYPE html>
<html>
  <head>
    <title>合法漫画</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>
  <body>
<%# これでターボリンクが無効されて、再読み込みしなくてもインクリメンタルサーチができるらしい %>
  <% if content_for?(:body_attributes) %>
  <%= yield(:body_attributes) %>
  <% end %>
<%# これでターボリンクが無効されて、再読み込みしなくてもインクリメンタルサーチができるらしい %>
    <header class="header">
        
        <div class="header__bar row">
        <b><a class="site-title" href="/">合法漫画</a></b>
          <h1 class="grid-6"></h1>
            <% if user_signed_in? %>
              <div class="user_nav grid-6">
              <span><%= current_user.nickname %>
              <ul class="user__info">
                <li>
                  <%= link_to "マイページ", "/users/#{current_user.id}" %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
               </ul>
              </span>
                <%= link_to  "投稿する", "/comics/new", class: "post" %>
              </div>
            <% else %>
            <div class="grid-6">
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
            </div>
          <% end %>
          </div>
      </div>
    </header>

    

    <div class="right-bar">
      <div class="ranking">
        <b><p>いいねランキング</p></b>
        <% @all_ranks.each.with_index(1) do |comic, i| %> 
          <div class="rank_in_title">
            <%= "#{i}位#{comic.title}" %><br><%="いいね数#{comic.liked_users.count}" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="left-bar">
      <div class="introduce_text">2019年12月30日<br><br>ここは公式で無料配信されている漫画を紹介するサイトです。<br><br>無料で登録なく利用できますが、ユーザー登録をするといいねリストへの追加やコメント、新規投稿ができるようになります。</div>
    </div>

    <%= yield %>

    <%# <footer>
    </footer> %>
  </body>
</html>